footer {
    margin-top: 70px;
    background-image: linear-gradient(to bottom right, #5E4AF1, #BA0BF9);
}

.footer-container{
    display: flex;
    padding: 50px;
}

.left-footer {
    width: 50%;
}

.right-footer {
    width: 50%;
}

.contact-desc{
    margin-top: 50px;
}

.input{
    width: 70%;
    padding: 7px;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid white;
    margin-bottom: 35px;
}

::placeholder{
    color: white;
}

#send-btn{
    width: 70%;
    padding: 10px;
    background-color: transparent   ;
    border: 1px solid white;
    font-size: 20px;
}

.form {
    margin-top: 40px;
}

#form-title{
    text-transform: uppercase;
    font-size: 30px ;
    font-weight: bolder;
}
#contact-title{
    text-transform: uppercase;
    font-size: 30px ;
    font-weight: bolder;
}

#contact-email{
    text-transform:uppercase;
    font-size: 20px;
}
#contact-number{
    text-transform:uppercase;
    font-size: 20px;
    margin-top: 20px;
}

.social-icon{
    margin-top: 40px;
    display: flex;
    gap:20px    ;
}



@media only screen and (min-width:200px) and (max-width:576px) {}