.header-container {
    height: 100%;
    background-image: url('../images/navbar/Rectangle\ 5.png');
    background-repeat: no-repeat;
    background-position: center top;
}

.nav {
    display: flex;
    padding-top: 20px;
    gap: 20px;
    justify-content: space-between;
    font-size: 36px;
}

#menu-icon-id {
    width: 50px;
    text-align: right;
}

.banner-title h1 {
    font-size: 90px;
    font-weight: bolder;
    letter-spacing: 5px;
    margin: 20px 0px;
}

.banner-desc {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bolder;
    margin: 20px 0px;
}

.banner-profile-container {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--primary-font-color);
    border-bottom: 1px solid var(--primary-font-color);
}

.banner-profile-desc {
    display: flex;
    flex-direction: column;
    justify-content: end;
    font-size: 40px;
}

.work-icon-container {
    display: flex;
    gap: 10px;
    padding: 40px 0px;
}

.work-icon-container h1 {
    border-bottom: 1px solid var(--primary-font-color);
}

.banner-image-container {
    background-color: var(--primary-font-color);
    width: fit-content;
}

.check-icon {
    height: 60px;
    width: 60px;
}

#banner-image {
    height: 300px;
}

.complete-projects-container {
    display: flex;
    justify-content: space-between;
}

.complete-projects-card h1 {
    font-size: 120px;
    font-weight: 900;
}

.complete-projects-card p {
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
}



@media only screen and (min-width: 100px) and (max-width: 576px) {

    .nav {
        font-size: 16px;
    }

    .complete-projects-container {
        flex-direction: column;
    }

    .banner-image-container {
        width: 100%;
    }

    .banner-title h1 {
        font-size: 14px;
    }

    #banner-image {
        width: 100%;
    }

    .banner-profile-container {
        flex-direction: column;
    }

}