.header-container {
    height: 100vh;
    background-color: var(--background-color);
    background-image: url('../images/banner/banner.jpg');
    background-repeat: no-repeat;
    background-position:center;
}

.nav {
    display: flex;
    color: var(--primary-font-color);
    padding: 20px;
    gap: 20px;
    justify-content: space-between;
    font-size: 36px;
}
#menu-icon-id{
    width: 175px;
    text-align: right   ;
}

.banner-section{
    color: var(--primary-font-color);
    text-align: center;
    font-size: 90px;
}

.paragraph{
    color: var(--primary-font-color);
    text-align:center;
}
