@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap');


:root {
    --background-color: black;
    --primary-font-color: white;
    --primary-color: #BA8BF9;
}

body {
    background-color: var(--background-color);
}

* {
    margin: 0;
    padding: 0;

    font-family: "Antonio", sans-serif;
    font-weight: 400;
    color: var(--primary-font-color);
}

.container {
    padding: 0px 60px;
}